.Card {
    width: 200px;
    height: 250px;
    background-image: url(./fondo2.png);
    background-size: 200px;
    background-color: #09efff73;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px 5px rgb(0, 255, 255);
    border-color: rgb(9, 199, 247);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 8px;
    position: relative;
    transition: box-shadow 0.3s;
    transition: transform 0.3s;
  }

  .Card:hover{
    box-shadow: 0 0 15px 7px rgb(154, 255, 255);
    transform: scale(1.03);

  }

  .name {
    font-size: 18px;
    margin-top: -5%;
    text-shadow: 12px;
    color: rgb(151, 248, 255);
    font-family:LcdSolid-VPzB;
  }

  .link{
    text-decoration: none;
  }
  
  .btn {
    background-color: rgb(9, 199, 247);
    box-shadow: 0 0 5px 2.5px rgb(0, 255, 255);
    color: rgb(151, 248, 255);
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: box-shadow 0.3s;
    transition: color 0.3s;
    transition: background-color 0.3s;
  }

  .btn:hover{
    background-color: rgb(250, 109, 109);
    box-shadow: 0 0 5px 2.5px rgb(252, 172, 172);
    color: rgb(252, 172, 172);

  }
  
  .info {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    color: aqua;
  }
  
  .image {
    display: none;
  }
  
  .Card img {
    width: 100%;
    height: 160px;
    object-fit:cover;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px 2.5px rgb(0, 255, 255);
    border-color: rgb(9, 199, 247);
    border-radius: 8px;
    margin-bottom: 16px;
    transition: box-shadow 0.3s;
  }

  .Card img:hover{
    box-shadow: 0 0 10px 5px rgb(154, 255, 255)
  }

  .fav1{
    
    background-color: rgb(250, 109, 109);
    box-shadow: 0 0 5px 2.5px rgb(252, 172, 172);
    color: rgb(252, 172, 172);
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 8px;
    transition: box-shadow 0.3s;
    transition: color 0.3s;
    transition: background-color 0.3s;
  }

  .fav1:hover{
    background-color: rgb(250, 109, 109);
    box-shadow: 0 0 10px 5px rgb(252, 172, 172);
    color: rgb(252, 172, 172);

  }

  .fav1:active{
    background-color: rgb(9, 199, 247);
    box-shadow: 0 0 10px 5px rgb(0, 255, 255);
    color: rgb(151, 248, 255);
  }

  .fav2{
    
    background-color: rgb(9, 199, 247);
    box-shadow: 0 0 5px 2.5px rgb(0, 255, 255);
    color: rgb(151, 248, 255);
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 8px;
    transition: box-shadow 0.3s;
    transition: color 0.3s;
    transition: background-color 0.3s;
  }

  .fav2:hover{
    box-shadow: 0 0 10px 5px rgb(154, 255, 255);
    color: rgb(154, 255, 255);

  }

  .fav2:active{
    background-color: rgb(250, 109, 109);
    box-shadow: 0 0 10px 5px rgb(252, 172, 172);
    color: rgb(252, 172, 172);
  }